# Backup files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled scripts
*.pyc

# bootstrap aux files
ChangeLog
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
configure.ac
depcomp
doc/date.tex
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Doxygen

#MyIgnore
config.log
python/siku/Doxyfile
python/siku/Doxyfile.bak
python/siku/NMC_TEST_DIR/
python/siku/config.dox

Makefile
config.h
config.h.in~
config.status
deps/Makefile
deps/shapelib/Makefile
libtool
src/.deps/siku-auxutils.Po
src/.deps/siku-coordinates.Po
src/.deps/siku-diagnostics.Po
src/.deps/siku-dynamics.Po
src/.deps/siku-element.Po
src/.deps/siku-highio.Po
src/.deps/siku-lowio.Po
src/.deps/siku-mesh.Po
src/.deps/siku-modeltime.Po
src/.deps/siku-monitoring.Po
src/.deps/siku-mproperties.Po
src/.deps/siku-options.Po
src/.deps/siku-position.Po
src/.deps/siku-scheduler.Po
src/.deps/siku-siku.Po
src/.deps/siku-sikupy.Po
src/.deps/siku-vecfield.Po
src/Makefile
stamp-h1

/.project

# LaTeX files
*.aux
*.bbl
*.blg
doc/*.log
doc/developer.pdf
*.toc

# Executables and objects
src/siku

# Others
samples/*.nc
